@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@media (max-width:1600px){
    #head{
        width:140px;height:80px;font-size:27px;font-weight: bolder;
        font-size:40px;font-family: "Poppins",sans-serif;
        position: absolute;left:0px;top:0px;border-radius: 0px 0px 20px 0px;
        box-shadow: 4px 4px 10px lightgrey;text-align: center;
        line-height:80px;
    }
#private{
     width:60%;position: absolute;top:90px;transform:translate(-50%);left:50%;
}
}
@media (max-width:700px){
    #private{
        width:90%;position: absolute;top:90px;transform:translate(-50%);left:50%;
   } 
}
#private{
    font-family: "Poppins",sans-serif;
}
h1{
     color:#ff5757;
}
h2{
     color:rgb(45, 255, 45);
}